<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="static/css/imageUpload.css">
</head>
<body>
    <div class="container">
        <h1>Image Upload</h1>
        <h2 class="sizeInc">Upload an Image for the sign for which translation is required</h2>
        <form action="/predict" method="post" enctype="multipart/form-data">
            
            <input type="file" class="form-control"  name="imageFile">
            <!-- <label class="custom-file-label" for="imageUpload">Choose file</label> -->
       
    <button type="submit" class="btn btn-primary mt-3">Upload</button>
</form>
<div class="mt-4">
    <p>Prediction: The Person is saying the letter: {{ result }}</p>
</div>
    </div>
    <script src="js/IU.js"></script>
</body>
</html>
