<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <!-- Include Bootstrap CSS (you can change the URL to the location of your Bootstrap CSS file) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Upload Image</h2>
        <form action="/predict" method="post" enctype="multipart/form-data">
            
                    <input type="file" class="form-control"  name="imageFile">
                    <!-- <label class="custom-file-label" for="imageUpload">Choose file</label> -->
               
            <button type="submit" class="btn btn-primary mt-3">Upload</button>
        </form>
        <div class="mt-4">
            <p>Prediction: The Person is saying the letter: {{ result }}</p>
        </div>
    </div>

    <!-- Include Bootstrap JS (you can change the URL to the location of your Bootstrap JS file) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
